#nav-bar {
  top: 0;
  position: fixed;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #00a087;
  z-index: 10;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
 }

#nav-bar .header {
  font-size: 40px;
  line-height: 80px;
  color: : #e8fdff;
  float: left;
  padding-left: 10px;
}

#nav-bar input {
  background-color: #def6fa;
  float: right;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-right: -10px;
  border-radius: 7px;
}

#nav-bar input:hover {
  background-color: #def6fa;
  float: right;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-right: -10px;
  border-radius: 7px;
  background-color: white;
}


