/*https://usercontent1.hubstatic.com/7241270_f520.jpg*/

main #appendNewTweetsHere {

}

article.tweet {
  margin-top: 30px;
}

#appendNewTweetsHere header {

}

#appendNewTweetsHere .atUser {
  float: right;
  font-size: 12px;
  margin-right: 11px;
}

#appendNewTweetsHere .smiley {
  width: 47px;
  margin-left: 7px;
  margin-top: 7px;
}

#appendNewTweetsHere h6 {
  font-size: 25px;
  margin-top: -50px;
  margin-left: 64px;
  margin-right: 8px;
  border-style: solid;
  border-color: black;
  border-right: #efefef;
  border-left: #efefef;
  border-top: #efefef;
  border-width: thin;
}

#appendNewTweetsHere .tweetContent {
  margin-left: 7px;
  margin-right: 8px;
  position: relative;
  bottom: 27px;
  font-size: 18px;
  height: 73px;
}

#appendNewTweetsHere footer {
  border-style: solid;
  border-color: #b3afaf;
  border-right: #efefef;
  border-left: #efefef;
  border-bottom: #efefef;
  border-width: thin;
  position: relative;
  bottom: 23px;
}

#appendNewTweetsHere .time {
  font-size: 10px;
  position: relative;
  bottom: 3px;
  margin-left: 7px;
}







